/* Styles go here */
.plusCentre {
    position: absolute;
    /*left: 50%;*/
    top: 20%;
    
    /*transform: translate(-50%, -50%);*/
    
    width: 100%;
    height: 100%;
    min-width: 1024px;
}

.topCentre {
    position: absolute;
    left: 50%;
    top: 45%;
    
    transform: translate(-50%, -50%);
    
    width: 40%;
}

.links {
    position: relative;
    left: 50%;
    top: 45%;
    
    transform: translate(-50%, 0%);
    padding: 2px;
    
    width: 40%;
}

.navbarBack {
    background-color:#483D8B;
    color: #FFFFFF;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: #DDDDDD;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.divInline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 5px 5px 5px 0px;
}

.inputFieldWidth {
    width: 50%;
    min-width: 190px;
}

.leftGameColumn{
    float: left;
    width: 350px;
    border: solid #483D8B;
    border-top-width: 2px;
}

.centreGameColumn{
    height: 100%;
    margin-left: 350px;
    margin-right: 400px;
    border: solid #483D8B;
    border-top-width: 2px;
}

.rightGameColumn{
    position: absolute;
    right: 0px;
    width: 400px;
    border: solid #483D8B;
    border-top-width: 2px;
}

.leftGameColumn2 {
    position: absolute;
    border-color:#cfc7ff;
    border-radius: 10px;
    padding: 5px;
    left: 0px;
    width: 350px;
    color: #000000;
    border: solid #000000;
    border-width: 1px 1px 0px 1px;
}

.centreGameColumn2 {
    position: absolute;
    border-color:#9f99c7;
    border-radius: 10px;
    padding: 5px;
    left: 350px;
    max-width: 90%;
    right: 400px;
    min-width: 350px;
    color: #000000;
    background-color: #349b0b;
    border: solid #000000;
    border-width: 1px 1px 0px 1px;
}

.rightGameColumn2 {
    position: absolute;
    border-color:#7e799e;
    border-radius: 10px;
    padding: 5px;
    right: 0px;
    width: 400px;
    color: #000000;
    border: solid #000000;
    border-width: 1px 1px 0px 1px;
}

.buildingPurchase{
    width: 400px;
    height: 64px;
    cursor: pointer;
    position: relative;

    border: solid #000000;
    border-width: 1px 1px 0px 1px;
}

.buildingContent{
    display: inline-block;
    position: absolute;
    left: 32px;
    top: 6px;
}

.buildingName{
    font-weight: bold;
    font-size: 1.6em;
}

.displayHeader{
    position: absolute;
    width: 40%;
    top: 50px;
    text-align: center;
    font-size: larger;
}

.pickaxeImage{
    top: 150px;
    width: 150px;
    height: 150px;
    position: absolute;
}

.imageRotate:active {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
 }

.gpuImage{
    top: 300px;
    width: 167.5px;
    height: 167.5px;
    position: absolute;
}

.clickerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.modalPadding{
    padding: 5px;
}

.customLink{
    cursor:pointer;
}

.closeButton {
    border-color:#000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0px 10px 0px 10px;
    color: #000000;
}

.farmTopButtons{
    position: absolute;
    height: 50px;
    left: 10%;
}

.cell1 {
    position: absolute;
    border-color:#cfc7ff;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    top: 75px;
    left: 10%;
    width: 20%;
    color: #000000;
}

.cell2 {
    position: absolute;
    border-color:#9f99c7;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    top: 75px;
    left: 40%;
    width: 20%;
    color: #000000;
}

.cell3 {
    position: absolute;
    border-color:#7e799e;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    top: 75px;
    left: 70%;
    right: 10%;
    width: 20%;
    color: #000000;
}

.cell4 {
    border-color:#696585;
    border-style: groove;
    border-radius: 10px;
    padding: 5px;
    min-width: 330px;
    color: #000000;
}